<IfModule mod_headers.c>
    Header set Content-Security-Policy "default-src 'self'; img-src 'self' https://devlk.com; script-src 'self' 'nonce-2726c7f26c'; style-src 'self' https://google-fonts.com;"
</IfModule>
